:root {
    --line-color: rgba(228, 222, 222, 0.863);
    --cinza: rgb(86, 88, 90);
    --cinza-background: rgba(86, 88, 90, 0.7);
}

@keyframes grow {
    from {
        width: 0px;
        left: 50%;
    }
    to {
        width: 100%;
        left: 0;
    }
}

@keyframes titleDescend {
    from {
        opacity: 0;
        top: 0%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

@keyframes flipImage {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

body {
    margin: 0 0;
    padding: 0 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

p,
h2,
h3 {
    color: var(--cinza)
}

#header {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 15vh;
    border-bottom: 1px rgba(228, 222, 222, 0.863) solid;
}

#logo-holder {
    width: 30%;
    height: 100%;
}

#logo-holder>a {
    height: 100%;
}

#logo-holder>a>img {
    height: 80%;
    max-height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    width: 50%;
    height: 100%;
    padding: 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#menu li {
    list-style-type: none;
}

#menu a::after,
.selected::after {
    content: '';
    height: 1px;
    width: 0;
    background-color: black;
    position: absolute;
    bottom: -3px;
    left: 0;
}

#menu a:hover::after,
.selected::after {
    animation: grow .4s forwards;
}

#footer {
    background-color: var(--cinza);
    width: 100%;
    margin: 0 0;
    font-size: 12px;
    position: static;
    text-align: center;
    padding: 3px 0 0 0;
}

.info {
    padding: 0 0 3px 0;
    color: white !important;
}

#copyright {
    background-color: transparent;
    text-align: center;
    border-top: 1px var(--line-color) solid;
    position: relative;
    line-height: 26px;
    margin: 0 0;
    color: white !important;
}

.color-opacity {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(15, 31, 61);
    opacity: .7;
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}

.text>h2,
#content>h2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    max-width: 80%;
    font-size: 24pt;
}

.text p {
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.images-container {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 960px;
}

.row {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 200px;
}

#empresas .row {
    margin-bottom: 10px;
}

#equipamentos .row {
    margin-bottom: 30px;
}

.row>div {
    display: block;
    text-align: center;
}

#empresas>.row>div {
    width: 200px;
    height: 200px;
}

#equipamentos>.row>div {
    width: 250px;
    height: 200px;
    position: relative;
}

#equipamentos>.row>div>span {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    width: 100%;
    font-size: 20pt;
    top: 50%;
    left: -50%;
    z-index: 0;
}

#equipamentos>.row>div:hover {
    background-color: white;
    animation: flipImage 1s forwards;
}

#equipamentos>.row:nth-child(2) {
    justify-content: center;
}

.row>div>img {
    z-index: 1;
}

#equipamentos>.row>div:hover span {
    display: block;
    opacity: 1;
    color: var(--cinza);
    transform: scale(-1, 1) translate(-50%, -50%);
    transition: 1s;
}

#equipamentos>.row>div:hover img {
    transition: 1s;
    opacity: 0;
}

.images-container img {
    position: relative;
    width: 80%;
    max-height: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.columns-holder {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 960px;
    margin: 70px 0;
    padding: 30px 0;
}

.columns-holder::after,
.columns-holder::before {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: var(--line-color);
    position: absolute;
}

.columns-holder::after {
    top: 100%;
}

.columns-holder::before {
    top: 0%;
}

.columns-holder>div {
    text-align: center;
}

.columns-holder>div>h2 {
    font-size: 16pt;
}

.columns-holder>div>i {
    font-size: 40pt;
    border-radius: 50%;
    padding: 14px;
    height: 65px;
    width: 65px;
    line-height: 65px;
}

.columns-holder>div>i:hover {
    color: white;
    background-color: var(--cinza);
    transition: .2s;
    -webkit-transition: .2s;
}

.columns-holder>div {
    color: var(--cinza);
}

.text {
    max-width: 960px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#banner-principal {
    height: 40vh;
}

.banner {
    position: relative;
    height: 20vh;
}

.banner>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 60%;
}

#texto {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    color: var(--line-color);
    font-size: 32pt;
    animation: titleDescend 1.5s forwards;
}

.informacoes {
    position: absolute;
    transform: translateY(-50%);
    left: 45%;
    width: 50%;
    z-index: 2;
    color: white;
    animation: titleDescend 2s forwards;
}

.informacoes>h2 {
    position: relative;
    left: 0;
    color: var(--line-color);
    font-size: 28pt;
}

.informacoes .texto {
    font-size: 14pt;
    color: var(--line-color);
}

.botao {
    position: relative;
    text-decoration: none;
    font-size: 12pt;
    color: var(--line-color);
    background-color: transparent;
    padding: 8px 25px;
    border: 2px solid var(--line-color);
    border-radius: 10px;
    line-height: 70px;
    font-weight: 700;
    transition: .3s;
}

.botao:hover {
    background-color: var(--line-color);
    color: var(--cinza);
}

.pag-snippet {
    width: 40%;
    height: fit-content;
    background-color: var(--line-color);
    text-align: center;
    border-radius: 8px;
}

.snippet-holder {
    max-width: 960px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
}

.pag-snippet p {
    font-size: 14pt;
    text-align: center;
    padding: 0 10px 10px 10px;
}

.pag-snippet .a-holder {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0%;
}

.a-holder a {
    height: fit-content;
}

.pag-snippet h3 {
    font-size: 22px;
}

.image-holder {
    position: relative;
    width: fit-content;
    height: 256px;
}

.image-holder img {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 8px;
}

.image-holder:hover .image-overlap {
    opacity: 1;
}

.image-overlap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0;
    transition: 1s;
    background-color: var(--cinza-background);
}

.image-overlap>a {
    color: var(--line-color);
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 25px;
    border: 2px solid var(--line-color);
    border-radius: 20px;
    line-height: 70px;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    transition: .3s;
    opacity: 1;
}

.image-overlap>a:hover {
    background-color: var(--line-color);
    color: var(--cinza);
}